.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 18px;
    font-family: cursive;
    font-weight: 40;
    color: #FFFFFF
}

.body{
    background-image: url(bg.jpg);
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    margin: 10px;
}


.color{
    background-color:  #C9D2E1;
}
.grid1{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-evenly;
}

.grid2{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-evenly;
}

.origami1{
    border: solid;
    border-color: black;
    border-width: medium;
    border-radius: 20px;
    background-color: violet;
    width: 310px;
    font-family: cursive;
    padding: 20px;
    margin: 15px;
}

.origami2{
    border: solid;
    border-color: black;
    border-width: medium;
    border-radius: 20px;
    background-color: indigo;
    width: 310px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #131111;
    padding: 20px;
    margin: 15px;
}

.origami3{
    border: solid;
    border-color: black;
    border-width: medium;
    border-radius: 20px;
    background-color: lightgreen;
    width: 310px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 15px;
}

.origami4{
    border: solid;
    border-color: black;
    border-width: medium;
    border-radius: 20px;
    background-color: lightblue;
    width: 310px;
    font-family:serif;
    font-size: 18px;
    padding: 20px;
    margin: 15px;
}

.origami5{
    border: solid;
    border-color: black;
    border-width: medium;
    border-radius: 20px;
    background-color: yellow;
    width: 310px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 15px;
}

.origami6{
    border: solid;
    border-color: black;
    border-width: medium;
    border-radius: 20px;
    background-color: orange;
    width: 310px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 20px;
    margin: 15px;
}
